/* Estilos Gerais */
body{
	font-family: Arial, Helvetica, sans-serif;
}

p{
	font-family: Georgia,"Times New Roman", serif;
	font-size: 14px;
	line-height: 20px;
}

img{
	display: block;
	max-width: 100%;
}

.logohome{
	margin:0 auto; 
	display:block;
}

.formphp label.nao-aparece, .formphp input.nao-aparece {
	display: none !important;
}

#form-erro span, #form-send span  {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 10px;
	display: block;
}

#form-send {
	color: #31aa39;
}

#form-erro {
	color: #f64540;
}

.btn{
	border:3px solid #fff;
	padding: 10px 30px;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
}


.btn:hover{
	color: firebrick;
	border-color: firebrick;
}


.btn-todopreto{
	border:3px solid #000;
	padding: 10px 30px;
	color: #000;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
}

.btn-todopreto:hover{
	color: firebrick;
	border-color: firebrick;
}

.subtitulo{
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.subtitulo:after{
	content: "";
	display:block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 8px auto;
}

.subtitulo-interno{
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subtitulo-interno:after{
	content: "";
	display:block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 8px 0;
}
/* Header */

.header{
	position: fixed;
	top: 0;
	width: 100%;
	background: #000; /*Amarelo*/
	padding: 28px 0;
	z-index: 10;
}

.header_menu{
	text-align: right; 
}

.header_menu ul li{
	display: inline-block;
	margin-left: 25px;
	margin-top: 9px;
}

.header_menu ul li a{
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;
	line-height: 26px;
	padding: 10px 0;
}

.header_menu ul li a:hover{
	color:firebrick;
}
.header_menu ul li a.menu_ativo{
	color:firebrick;
}

.introducao{
width: 100%;
background: #000;
background-size: cover;
margin-top: 90px;
text-align: center;
padding-top: 50px;
padding-bottom: 80px;
}




/* Introdução */



.introducao h1{
	font-size: 48px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
}

.quote-externo{
	max-width: 320px;
	margin: 0 auto;
	color: white;
	margin-bottom: 40px;
}

.quote-externo p{
	font-style: italic;
	font-size: 20px;
	letter-spacing: .1em;
}

.quote-externo p:before, .quote-externo p:after{
	content: "";
	display:block;
	width: 60px;
	height: 3px;
	background: #FFF;
	margin: 16px auto 15px auto;
}

.quote-externo cite{
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .1em;
}

/*Introdução Interna*/

.introducao-interna{
	width: 100%;
	margin-top:92px;
	height: 180px;
	text-align: center;
	color: #fff;
	padding-top: 30px;
}

.introducao-interna h1{
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}



.introducao-interna h1:after{
	content: "";
	display:block;
	width: 60px;
	height: 3px;
	background: #FFF;
	margin: 6px auto 10px auto;
}

/*Artistas */

.artistas{
	padding: 40px 0;
	position: relative;
    text-align: center;
}

.artistas_lista li h1{
	font-family: Georgia, "Times New Roman", serif;
	padding-top: 15px;
	font-size: 16px;
    text-align: center;
}

.artistas_lista li{
	background: none;
	text-align: center; 
    display: inline-block;
  
	}


.artistas_lista h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 0px;
	text-transform: uppercase;
	margin-top: 10px;
	letter-spacing: .1em;

}

.artistas_icone img{
 height: 200px;
  padding-bottom: 10px;
  
}


.artistas_lista li p{
	margin-top: 10px;
}

.artistas_lista_home li h1{
	font-family: Georgia, "Times New Roman", serif;
	padding-top: 15px;
	font-size: 16px;
    text-align: center;
}

.artistas.artistas_listas_home ul{
  margin: 0 auto;
}
.artistas_lista_home li{
	background: none;
	text-align: center; 
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
	}


.artistas_lista_home h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 0px;
	text-transform: uppercase;
	margin-top: 10px;
	letter-spacing: .1em;
    
}

.artistas_icone_home img{
  height: 200px;
  padding-bottom: 10px;
  
}


.artistas_lista_home li p{
	margin-top: 10px;
}


.artistas .call{
	padding-top: 40px; 
    padding-bottom: 10px;
	text-align: center;
	clear: both;
}


.call{
	padding-top: 40px; 
	text-align: center;
	clear: both;
}

.call p{
	margin-bottom: 20px;
}



/*Portifolio*/

.portifolio{
	width: 100%;
	background:#000;
	padding: 40px 0;
}

.portifolio .subtitulo{
	color:#fff;
  margin-bottom: 20px;
}

.portifolio .subtitulo:after{
	background: #fff;
}

.portifolio_lista li{
	margin-top: 20px;

}

.portifolio .call{
  margin-bottom: 10px;
}
.portifolio .call p{
	color: #fff;
}

.portifolio_lista li img{
	margin: 0 auto;
}

/*Studio*/

.studio{
    content: "";
	width: 100%;
	background: url("../img/background-studio.jpg") no-repeat center;
	padding: 40px 0;
	display: block;
    background-size: cover;
}

.studio .subtitulo{
	color:#fff;
}

.studio .subtitulo:after{
	background: #fff;
}

.studio_lista li:last-child{
	margin-top: 20px;
}

.studio .call p{
	color: #fff;
}

.studio .call{
  padding-bottom: 10px;
}

.subtitulo-studio{
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #fff;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 40px;
	margin-right: 0px;
	margin-left: 0px;
}


/* Qualidade */

.qualidade{
	padding: 40px 0;
}

.qualidade:after{
	content: "";
	width: 641px;
	height: 85px;
	display: block;
	background: url("../img/linhasquali2.png") no-repeat center;
	position: absolute;
	top: 170px;
	right: 159px;
	z-index: -1;
}

.qualidade img{
	margin: 0 auto;
}

.qualidade_lista{
	padding-top: 20px;
	overflow: auto; /*clear-fix*/
}

.qualidade_lista li{
	text-align: center;
	padding: 0 40px;
}

.qualidade_lista li h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top: 20px;
	margin-left: 0px;
}

.qualidade_lista li h3:after{
	content: "";
	display:block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 6px auto;
}

.qualidade .call{
  margin-bottom: 10px;
}

/*Quebra*/
.quebra{
	width: 100%;
	height: 160px;
	background: url("../img/quebra.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
	padding-top: 40px;
} 

.quebra .quote-externo{
	max-width: 400px;
}

/*Fotter*/

.footer{
	width: 100%;
	background:#000;
	color: #fff;
	padding: 20px 0;
}

.footer h3{
	font-size: 18px;
	line-height: 25px;
	color: #65686a;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
}

.footer h3:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background:#65686a;
	margin: 6px 0 12px 0; 
}

.footer_historia{
	padding-right: 40px;
}

.footer_contato ul li{
	font-size: 14px;
	line-height: 20px;
	font-family: Georgia, "Times New Roman", serif;
}

.footer_redes ul li{
	display: inline-block;
	margin-right: 10px;
}

.footer_redes ul li a{
	border: 3px solid #fff;
	display: block;
	padding: 10px;
	transition:all .5s ease;
}


.footer_redes ul li a:hover{
	border-color: red;	
}

.copy{
	width: 100%;
	background:#65686a;
	padding: 10px 0;
}

.homes {
  opacity: 0;
  transform: rotate(0.5turn);
}

.homes-init{
  opacity: 1;
  transition: .6s all ease;
  transform: translate3d(0px,0px,0px);

}